@import "./base";
.accommodation{
    display: flex;
    flex-wrap: wrap;
    min-width: 1000px;
    background: $fc;
    margin-top: 36px;
    border-bottom: 1px solid $fd9;
    .acc_item{
        width: 33.33%;
        display: flex;
        border-top: 1px solid $fd9;
        span{
            padding: 20px 0;
            @include cb();
            &:nth-child(1){
                padding-right: 15px;
                background: $f64;
                width: 150px;
                justify-content: flex-end;
                @include fontc(14px,14px,$fc);
            }
             &:nth-child(2){
                padding-left: 15px;
                @include fontc(14px,14px,$f5);
            }
        }
        &:last-child{
            width: 100%;
        }
    }
}
.accommodation_no{
    .acc_item{
        &:last-child{
            width: 33.33%;
        }
        span{
            &:nth-child(1){
                width: 178px;
            }
        }
    }
}