@import "./base";
.contract{
  display: flex;
  .item{
    margin: 40px 40px 0 0;
    cursor: pointer;
    @include cuc();
    span{
      @include  fontc(14px,14px,$f6);
      margin-top: 10px;
    }
  }
}
.signed{
    .el-dialog__header{
      display: none;
    }
  .el-dialog{
    width: 800px;
  }
  .el-dialog__body{
    padding: 0;
  }
  .type{
    @include fontc(18px,18px,$f0);
  }
  .top{
    img{
      width: 800px;
    }
  }
  .con{
    padding: 50px 90px 30px;
    .mate{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span{
        margin-bottom: 10px;
      }
    }
    .title{
      @include fontc(18px,16px,$f0);
      font-weight: bold;
      text-align: center;
      padding-bottom: 20px;
    }
    input{
      border: none;
      border-bottom: 1px solid;
      border-radius: inherit;
      height: 30px;
    }
    .arw{
      display: flex;
      align-items: flex-end;
      margin-top: 8px;
      p{
        white-space: nowrap
      }
    }
  }
}
.text2{
   text-indent: 2em;
}
.lin40{
  line-height: 40px;
}
.lin30{
  line-height: 30px;
}
.lin24{
  line-height: 24px;
}
.title1{
  font-size: 18px;
  font-weight: bold;
  color: $f0;
  margin: 30px 0;
}
.mt30{
  margin-top: 30px;
}
.page{
  textarea{
    border: none!important;
    background-image: url('/images/textarea.png')!important;
    line-height: 30px!important;
    overflow: auto!important;
    text-indent: 2rem;
    padding: 5px 0!important;
  }
}
.w200{
  input{
    width: 126px!important;
  }
}
.w60{
  input{
    width: 60px!important;
  }
}
.w80{
  input{
    width: 80px!important;
  }
}
.w100{
  input{
    width: 100px!important;
  }
}
.w300{
  input{
    width: 300px!important;
  }
}
.w550{
  input{
    width: 550px!important;
  }
}
.middle{
  display: inline;
  input{
    height: 20px!important;
  }
}

.width_half{
  display: flex;
  flex-wrap: wrap;
  p{
    width: 50%;
    //line-height: ;
  }
  .el-checkbox{
    width: 50%;
    margin: 0!important;
  }
}
.bold{
  font-weight: bold;
  color: $f0;
}
.footer{
  img{
    width: 100%;
  }
}
.cc{
  @include cc();
}
.tr{
  text-align: right;
}
.table{
  display: flex;
  border: 1px solid #cccccc;
  .item{
    border-right: 1px solid #cccccc;
    &:nth-child(1){
      width: 160px;
    }
    &:nth-child(2){
      width: 190px;
    }
    &:nth-child(3){
      flex: 1;
      border-right: none;
    }
    span{
      padding: 20px 0;
    }
    .el-input{
      padding: 6px 0;
      border-top: 1px solid #cccccc;
      input{
        border: none!important;
      }
    }
  }
}
.table_half{
  border: 1px solid #cccccc;
  .itme{
    display: flex;
    border-bottom: 1px solid #cccccc;
    &:last-child{
      border-bottom: none;
    }
    p{
      padding: 10px;
      &:nth-child(1){
        width: 200px;
        border-right: 1px solid #cccccc;
      }
      &:nth-child(2){
        flex: 1;
      }
    }
  }
}
.el-input__inner{
  padding: 0 10px!important;
}
.sign_sign{
  .el-dialog__header{
    display: block!important;
  }
  .cv_footer{
    border: none!important;
  }
  .sign_con{
    margin-top: 30px;
    text-align: center;
    @include fontc(18px,30px,$f0)
  }
}
.pay_con{
  margin-top: 30px;
  img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .el-radio-group{
    display: flex;
  }
  .pay_wrap{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .el-radio__label{
    font-size: 15px;
    font-weight: bold;
  }
  .cv_footer{
    border: none!important;
  }
}
.confirm_button {
  @include cc();
  margin-top: 50px;
  span {
    cursor: pointer;
    @include wh(130px, 46px);
    @include cr();
    background-color: $f15;
    @include borderRadius(30px);
    @include fontc(16px, 1, $fc);
  }
}
.sign_success{
  color: #67c23a;
}
.sign_icon{
  font-size: 70px;
}
.sign_error{
  color: red;
}
.sign_text{
  @include fontc(20px,20px,$f0);
  margin-top: 40px;
  font-weight: bold;
  span{
    color: red;
  }
}
.sign_link{
  color: red;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
}
.sign_result{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
