@import "./base";

.cv {
  padding: 40px 100px;

  .cv_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    .cv_nav {
      display: flex;

      li {
        background: $fd1;
        cursor: pointer;
        margin-right: 120px;
        position: relative;
        @include wh(60px, 60px);
        @include cr();
        @include fontc(24px, 1, $fc);
        @include borderRadius(50%);

        &:last-child {
          margin-right: 0;

          &:before {
            display: none;
          }
        }

        &:before {
          content: '';
          display: inline-block;
          background: $fd1;
          @include wh(100px, 1px);
          @include absolute(50%, 70px)
        }
      }

      .active {
        @include gradient();
      }
    }
    .no_nav{
      li{
        cursor: default;
      }
    }
  }

  .cv_footer {
    padding: 40px 0;
    border-top: 1px solid $e6;
    @include cuc();
    .footer_button {
      @include cc();

      span {
        cursor: pointer;
        @include wh(250px, 50px);
        @include cr();
        @include gradient();
        @include borderRadius(40px);
        @include fontc(16px, 1, $fc);

        &:nth-child(1) {
          i {
            display: inline-block;
            background: $fc;
            @include borderRadius(40px);
            @include wh(248px, 48px);
            @include fontc(16px, 1, $f69);
            @include cr();
          }
        }

        &:nth-child(2) {
          margin-left: 20px;
        }
      }
    }
    .next {
      margin-top: 10px;
      @include fontc(16px, 32px, $f63);
    }
  }

  .cv_button {
    cursor: pointer;
    @include wh(140px, 40px);
    @include gradient();
    @include cr();
    @include fontc(16px, 1, $fc);
    @include borderRadius(20px);
  }

  .cv_button2 {
    @include wh(170px, 40px);
  }

  .cv_button3 {
    @include wh(200px, 40px);
  }

  .cv_content {
    min-height: calc(100vh - 580px);
    min-height: -moz-calc(100vh - 580px);
    min-height: -webkit-calc(100vh - 580px);
  }

  .cv1 {
    width: 50%;
    padding: 40px 0 70px 0;

    .el-form-item__label {
      padding: 0;
    }
  }

  .cv2 {
    padding: 75px 0;

    .el-table {
      border: 1px solid #ebeef5;
      border-bottom: none !important;

      .el-table__body-wrapper {
        border: none;
      }

      th {
        text-align: center !important;
        border-right: 1px solid rgba(255,255,255,0.3);
        &:last-child{
          border: none;
        }
      }

      td {
        vertical-align: top;
      }

      thead {
        color: $fc !important;

        tr {
          @include gradient();

          th {
            background: transparent !important;
            border-right: 1px solid rgba(255,255,255,0.3);
            &:last-child{
              border: none;
            }
          }
        }
      }
    }
  }

  .centerTable {
    .el-table {
      td {
        vertical-align: middle;
        text-align: center;
      }
    }
  }

  .step3Table {
    .el-table {
      td {
        &:nth-child(4) {
          text-align: left !important;
        }
      }
    }
  }

  .psTable {
    .el-table {
      td {
        &:nth-child(3) {
          text-align: left !important;
        }
      }
    }
  }
  .ps_detail{
    .el-dialog {
      width: 1377px;
    }
    .psDetail_talbe{
      th{
        text-align: center;
        background: $fba!important;
        border-right: 1px solid rgba(255,255,255,0.3);
        &:last-child{
          border: none;
        }
      }
      td{
        text-align: center;
      }
    }

  }
  .table_dialog{
    .el-dialog {
      width: 900px;
    }
    .add_content{
      padding: 40px 30px;
    }
  }

  .notice {
    .el-dialog {
      width: 939px;
    }

    .notice_content {
      p {
        @include fontc(16px, 32px, $f6);
      }

      .notice_text {
        margin: 30px 0 100px 0;
        @include fontc(16px, 32px, $f6);

        .el-checkbox__input {
          @include wh(22px, 22px);
          margin-top: -2px;
          .el-checkbox__inner {
            border-color: $f69;
            background: transparent;
            @include wh(22px, 22px);

            &:after {
              @include wh(9px, 7px);
              top: 5px;
            }
          }
        }

        .is-checked {
          .el-checkbox__inner {
            @include gradient();
            border-color: $f69;

            &:after {
              @include wh(9px, 7px);
              top: 5px;
            }
          }
        }

        .el-checkbox__input.is-checked + .el-checkbox__label {
          color: $f69;
        }
      }
    }
  }
}
.el-dialog {
  width: 717px;

  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    padding: 0;
  }
}
.add_title {
  @include wh(100%, 60px);
  @include fontc(22px, 1, $fc);
  @include gradient();
  @include cr();
}

.add_content {
  padding: 30px 78px;
  .detail_table{
    //border: 1px solid red;
  }
  .psDetailForm{
    margin-top: 30px;
    .el-form-item{
      margin-bottom: 10px;
    }
    textarea{
      height: 88px!important;
      resize: none;
    }
    .el-form-item__label{
      @include fontc(16px,32px,$f3);
    }
  }
  .el-form-item__label {
    padding: 0;
  }


}
.cvTextareaBox {
  .el-form-item{
    position: relative;
  }
  .cvTextarea {
    textarea {
      height: 320px !important;
      resize: none;
      padding-bottom: 30px;
    }
  }

  .cvTextarea2 {
    textarea {
      height: 110px !important;
    }
  }

  .textareaTip {
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 3;
    @include fontc(16px, 1, $f63);
  }
}
.add_form{
  padding: 30px 0 70px 0;
}
.footer_button {
  margin-top: 10px;
  @include cc();
  span {
    cursor: pointer;
    @include wh(132px, 48px);
    @include cr();
    @include gradient();
    @include borderRadius(30px);
    @include fontc(16px, 1, $fc);
    &:nth-child(1) {
      i {
        display: inline-block;
        background: $fc;
        @include borderRadius(30px);
        @include wh(128px, 44px);
        @include fontc(16px, 1, $f69);
        @include cr();
      }
    }

    &:nth-child(2) {
      margin-left: 20px;
    }
  }
}
.psDetail_button{
  margin: 30px 0;
}

.footer_button156 {
  padding-bottom: 20px;
  span {
    @include wh(156px, 48px);
    &:nth-child(1) {
      i {
        @include wh(152px, 44px);
      }
    }
  }
}
.footer_button_156{
  padding-bottom: 20px;
  span {
    @include wh(156px, 48px);
    &:nth-child(1) {
      i {
        @include wh(152px, 44px);
      }
    }
    &:nth-child(2) {
      background-color: $fcc;
      background-image: none;
    }
  }
}
.footer_button_200{
  padding-bottom: 20px;
  span {
    @include wh(200px, 48px);
    &:nth-child(1) {
      i {
        @include wh(196px, 44px);
      }
    }
    &:nth-child(2) {
      background-color: $fcc;
      background-image: none;
    }
  }
}
.active{
  span {
    &:nth-child(2) {
      @include gradient();
    }
  }
}
.school_content{
  .el-select .el-input {
    width: 120px;
  }
}
.school_table{
  margin-top: 10px;
  .el-pagination{
    padding: 20px 0;
  }
  th{
    text-align: center;
  }
  tr{
    td{
      text-align: center;
    }
  }
  .schoolRadio{
    width: 24px;
    overflow: hidden;
  }
}
