@import "./base";

.login {
  background-color: $f69;
  @include wh(100%, 100vh);
  @include bg('/images/login.jpg');
  @include cr();
  .login_box {
    display: flex;
    background: $fc;
    @include borderRadius(20px);
    @include wh(1000px, 600px);
    #loginImg {
      flex: 1;
      border-radius: 20px 0 0 20px;
      overflow: hidden;
    }
    .loginForm {
      flex: 1;
      @include cc();
      .form_box{
        margin-top: 110px;
        .login_title{
          margin-bottom: 40px;
          @include fontc(24px,24px,$f3);
        }
        .login_form{
          width: 340px;
          .el-input{
            input{
              height: 54px;
            }
          }
          .login_submit{
            margin-top: 20px;
            .forget_password{
              text-align: right;
              span{
                cursor: pointer;
                @include fontc(12px,12px,$ff6);
              }
            }
            @include cc();
            .el-button{
              border: none;
              @include wh(320px,50px);
              @include gradient();
              @include fontc(16px,1,$fc);
              @include borderRadius(6px);
            }
          }
        }
      }
    }
  }
  .forget{
    background-color: rgba(255,255,255,0.6);
    min-height: 570px;
    padding: 50px;
    width: 462px;
    @include borderRadius(16px);
    .forget_title{
      @include fontc(24px,24px,$f0);
    }
    .forget_nav{
      display: flex;
      margin: 30px 0 20px 0;
      position: relative;
      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 100%;
        border-bottom: 1px solid $fc6;
        bottom: 1px;
      }
      li{
        flex: 1;
        cursor: pointer;
        position: relative;
        z-index: 2;
        @include fontc(18px,60px,$f53);
      }
      .active{
        color: $ff6;
        border-bottom: 3px solid $ff6;
      }
    }
    .isForget{
      .code{
        display: flex;
        .el-form-item{
          flex: 1;
        }
        .sendCode{
          border: none;
          margin-left: 20px;
          padding: 12px 0;
          @include wh(130px,43px);
          @include gradient();
          //@include borderRadius(10px);
        }
      }
      .forget_submit{
        margin-top: 30px;
        .el-button{
          border: none;
          @include wh(100%,43px);
          @include gradient();
          @include fontc(18px,1,$fc);
          @include borderRadius(8px);
        }
      }
    }
    .forget_artificial{
      p{
        padding-left: 70px;
        @include fontc(20px,40px,$f0);
        position: relative;
        &:nth-child(1){
         &:before{
           content: '';
           display: inline-block;
           @include wh(24px,24px);
           @include bg('/images/login/login_email.png');
           @include absolute(10px,36px);
         }
        }
        &:nth-child(2){
         &:before{
           content: '';
           display: inline-block;
           @include wh(20px,20px);
           @include bg('/images/login/login_weixin.png');
           @include absolute(10px,36px);
         }
        }
      }
    }
  }
  .reset{
    min-height: 400px;
    .reset_form{
      margin-top: 30px;
    }
    .forget_submit{
      margin-top: 40px!important;
    }
  }
}
