@import "./base";
.material{
    padding: 30px 30px 30px 30px;
    .material_item{
        margin-bottom: 80px;
        .material_title{
            @include fontc(18px, 1, $f4);
            position: relative;
            &:before{
                content: '';
                display: inline-block;
                @include wh(4px,20px);
                @include absolute(-2px,-10px);
                background-color: #f69;
            }
        }
        .material_box{
            .el-table__empty-text{
                display: none;
            }
            margin-top: 40px;
            td{
                text-align: center;
                border: none;
                @include fontc(14px,1,$f53);
            }
            tr{
                height: 50px;
            }
            .el-table::before{
                content: '';
                display: none;
            }
            thead{
                tr{
                    background-color: $fd5;
                    th{ 
                        height: 50px;
                        background-color: $fd5;
                        text-align: center;
                        @include fontc(16px,1,$f53);
                        font-weight: normal;
                        border: none;
                    }
                }
            }
            .material_file{
                span{
                    cursor: pointer;
                    @include fontc(14px,1,$dff);
                }
            }
            .status{
                @include cc();
                span{
                    display: inline-block;
                    @include wh(80px,28px);
                    @include cr();
                    border-radius: 20px;
                }
            }
            .red{
                span{
                   @include gradient();
                   @include fontc(14px,1,$fc);
                }
            }
            .blue{
                span{
                    background-color: $dbe;
                    @include fontc(14px,1,$dff);
                }
            }
            .green{
                span{
                    background-color: $d8f;
                    @include fontc(14px,1,$f0c);
                }
            }
            .material_view{
                span{
                    display: inline-block;
                    width: 30px!important;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                    &:nth-child(1){
                        background: url('/images/material/clicon.png') -19px -18px no-repeat;
                    }
                    &:nth-child(2){
                        background: url('/images/material/clicon.png') -140px -18px no-repeat;
                    }
                }
            }
        }
    }
}