* {
  margin: 0px;
  padding: 0px;
}

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
th,
td,
a,
menu {
  font-family: "Microsoft YaHei";
  font-size: 15px;
  -moz-user-select: auto;
  margin: 0;
  padding: 0;
  resize: none;
}

html {
  width: 100%;
  height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol,
menu {
  list-style: none;
  text-align: left;
}

fieldset,
img {
  border: none;
  display: block;
}

img,
object,
select,
input,
textarea,
button {
  vertical-align: middle;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input,
textarea,
select,
address,
caption,
cite,
code,
dfn,
em,
i,
b,
strong,
small,
th,
var,
abbr,
button,
u,
s,
del {
  font-style: normal;
  text-decoration: none;
  -webkit-appearance: none;
}

article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption {
  display: block;
}

code,
kbd,
pre,
samp,
tt {
  font-family: Consolas, "Courier New", Courier, monospace;
}

address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

a:link, a:visited, a:active {
  -webkit-tap-highlight-color: transparent;
}

a:hover, a:focus {
  outline: none;
  color: #000;
}

a,
a * {
  cursor: pointer;
}

input[type="text"] {
  -webkit-appearance: none;
}

input {
  cursor: pointer;
}

button,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

input:focus,
select:focus {
  outline: none;
}

input[type=button] {
  padding: 1px 6px;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.tc {
  text-align: center;
}

body {
  background: #fdfafa;
}

#utrack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#utrack .utrack_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#utrack .utrack_right .utrack_content {
  min-height: calc(100% - 140px);
  margin-right: 20px;
  background-color: #fff;
  margin-bottom: 60px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 119, 114, 0.15);
          box-shadow: 0px 0px 20px 0px rgba(255, 119, 114, 0.15);
}

.widthAll {
  width: 100% !important;
}

.title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title_box:before {
  content: '';
  display: inline-block;
  background: #e6e6e6;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 49px;
  left: 0;
}

.title_box .cv_title {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_box .cv_title p {
  position: relative;
  color: #333;
  font-size: 24px;
  line-height: 48px;
  font-family: helvetica,Microsoft YaHei;
  word-break: break-word;
}

.title_box .cv_title p:before {
  content: '';
  display: inline-block;
  width: 96px;
  height: 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(#ff4b82), to(#ff7e70)), -webkit-gradient(linear, left top, left bottom, from(#fdfafa), to(#fdfafa));
  background-image: linear-gradient(-90deg, #ff4b82 0%, #ff7e70 100%), linear-gradient(#fdfafa, #fdfafa);
  background-blend-mode: normal, normal !important;
  position: absolute;
  top: 49px;
  left: 0;
}

.title_box .cv_title span {
  margin-left: 40px;
  color: #ff6633;
  font-size: 16px;
  line-height: 48px;
  font-family: helvetica,Microsoft YaHei;
  word-break: break-word;
}

.viewBtn {
  border: none !important;
  background: transparent !important;
  color: #606266 !important;
}

.viewBtn:hover {
  color: #ff6977 !important;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #ff6977;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #ff6977;
  background: #ff6977;
}

.gray {
  background-color: #ccc;
  background-image: none !important;
}

#isPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#isPhone .isRegion {
  width: 100px;
}

#isPhone .isPhone {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#graphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#graphic .el-form-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#graphic img {
  width: 130px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.nav {
  background: #fff;
  min-height: 100vh;
  margin-right: 20px;
  width: 280px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 119, 114, 0.15);
          box-shadow: 0px 0px 20px 0px rgba(255, 119, 114, 0.15);
}

.nav .avatar {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .avatar .avatar_box {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, right top, left top, from(#ff4b82), to(#ff7e70)), -webkit-gradient(linear, left top, left bottom, from(#fdfafa), to(#fdfafa));
  background-image: linear-gradient(-90deg, #ff4b82 0%, #ff7e70 100%), linear-gradient(#fdfafa, #fdfafa);
  background-blend-mode: normal, normal !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .avatar .avatar_box img {
  width: 126px;
  height: 126px;
  border-radius: 50%;
}

.nav .user_name {
  color: #ff4b82;
  font-size: 20px;
  line-height: 40px;
  font-family: helvetica,Microsoft YaHei;
  word-break: break-word;
}

.nav .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.nav .logout span {
  position: relative;
  border: 1px solid #e5e5e5;
  padding-left: 47px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
  font-size: 14px;
  line-height: 1;
  font-family: helvetica,Microsoft YaHei;
  word-break: break-word;
}

.nav .logout span:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 27px;
  width: 14px;
  height: 16px;
  background-image: url("/images/logout.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav .nav_list {
  margin-top: 48px;
}

.nav .nav_list li {
  cursor: pointer;
  padding-left: 116px;
  overflow: hidden;
  position: relative;
  width: 280px;
  height: 52px;
  color: #666;
  font-size: 16px;
  line-height: 52px;
  font-family: helvetica,Microsoft YaHei;
  word-break: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav_list li:before {
  content: '';
  display: inline-block;
  position: relative;
}

.nav .nav_list li:nth-child(1):before {
  width: 20px;
  height: 22px;
  background-image: url("/images/nav1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 17px;
  left: 75px;
}

.nav .nav_list li:nth-child(2):before {
  width: 20px;
  height: 22px;
  background-image: url("/images/nav2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 17px;
  left: 75px;
}

.nav .nav_list li:nth-child(3):before {
  width: 23px;
  height: 22px;
  background-image: url("/images/nav3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 17px;
  left: 75px;
}

.nav .nav_list li:nth-child(4):before {
  width: 26px;
  height: 22px;
  position: absolute;
  top: 17px;
  left: 75px;
  background: url("/images/material/icon.png") -22px -380px no-repeat;
}

.nav .nav_list li:nth-child(5):before {
  width: 26px;
  height: 22px;
  background-image: url("/images/nav4.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 17px;
  left: 75px;
}

.nav .nav_list .active {
  background-color: #fdf5f5;
  color: #ff6977;
}

.nav .nav_list .active:nth-child(1):before {
  background-image: url("/images/nav11.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav .nav_list .active:nth-child(2):before {
  background-image: url("/images/nav22.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav .nav_list .active:nth-child(3):before {
  background-image: url("/images/nav33.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav .nav_list .active:nth-child(4):before {
  background: url("/images/material/icon.png") -23px -859px no-repeat;
}

.nav .nav_list .active:nth-child(5):before {
  background-image: url("/images/nav44.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*# sourceMappingURL=nav.css.map */