@import "./base";
.plan_add_plan{
    padding-bottom: 35px!important;
}
.plan_wrapper{
    .plan_box{
        span{
            &:nth-child(2){
                padding-left: 14px;
                overflow: auto!important;
                text-overflow:ellipsis;
                white-space: pre-wrap!important;
                flex: 1;
                a{    
                    overflow: auto;
                    text-overflow:ellipsis;
                    white-space: pre-wrap!important;
                    img{
                        height: 30px;
                    }
                }
             
            }
        }
    }
    
}
.plan_item{
    width:  100%;
    border: 1px solid $fd9;
    &:nth-child(2){
        margin: 20px 0 26px 0;
    }
    .plan_title{
        height: 50px;
        background-color: $fe5;
        @include cr();
        @include fontc(16px,16px,$f3);
    }
    .plan_wrap{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .width_box{
        width: 100%!important;
        span{
            &:nth-child(2){
                padding-left: 14px;
                overflow: auto;
                text-overflow:ellipsis;
                white-space: pre-wrap!important;
                flex: 1;
            }
        }
    }
   
    .plan_box{
        @include wh(50%,auto);
        min-height: 44px;
        display: flex;
        align-items: center;
        border-top: 1px solid $fd9;
        a{
            @include fontc(14px,14px,$f15);
        }
        span{
            display: flex;
            align-items: center;
           
            &:nth-child(1){
                @include wh(166px,100%);
                background-color: $f77;
                justify-content: flex-end;
                padding-right: 14px;
                background: $f77;
                border-right: 1px solid $fd9;
            }
            &:nth-child(2){
                padding-left: 14px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                flex: 1;
                position: relative;
                a{  overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    img{
                        height: 30px;
                    }
                }
                button{
                    background: transparent;
                    outline: none;
                    border: 1px solid $f15;
                    @include wh(50px,20px);
                    border-radius: 14px;
                    color: $f15;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .free{
            color: $f64;
        }
        &:nth-child(even){
            span{
                &:nth-child(1){
                    border-left: 1px solid $fd9;
                }
            }
        }
    }
}
.sign{
    .refactor_table{
        &:nth-child(2){
            margin-top: 70px;
        }
        &:nth-child(3){
            margin-top: 120px;
        }
    }
    .sign_title{
        position: absolute;
        top: -30px;
        left: 20px;
        z-index: 2;
        @include wh(59px,74px);
        @include cr();
        @include fontc(16px,20px,$fc);
        @include bg("/images/refactor/sign_bg.png")
    }
}
.sign_add_con{
    .plan_wrap{
        .plan_box{
            &:last-child{
                width: 100%;
            }
        }
    }
    
}
.aborad{
    .add_footer{
        margin-top: 30px;
    }
    .plan_wrap{
        .plan_box{
            &:nth-child(1){
                border-top: none;
            }
            &:nth-child(2){
                border-top: none;
            }
        }
    }
}
.avg_core{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 12px;
    padding: 0 6px;
    line-height: 16px;
}
.school_text{
    @include fontc(14px,16px,$f6);
}