@import "./base";

.ps {
  textarea::-webkit-input-placeholder {
    color: $f9;
  }
  .ps_add {
    padding: 50px 0 100px 0;

    .ps_tip {
      margin-bottom: 23px;
      display: inline-block;
      @include fontc(16px, 1, $f6);
    }

    .add_box {
      display: flex;
      flex-wrap: wrap;
      min-height: 50px;
      .add_item {
        cursor: pointer;
        margin: 0 40px 90px 0;
        //transition: all 0.1s ease-in-out;
        @include wh(400px, 303px);

        .add_title {
          background: $fba;
          position: relative;
          //transition: all 0.1s ease-in-out;
          @include wh(100%, 44px);
          @include cr();
          @include fontc(16px, 1, $f6);

          span {
            cursor: pointer;
            @include absolute(15px, 310px);
          }
        }

        .add_content {
          @include wh(100%, 260px);
          border: solid 1px rgba(0, 0, 0, 0.15);
          //transition: all 0.1s ease-in-out;

          padding: 15px 30px 0 17px;

          .detail_item {
            margin-bottom: 20px;

            &:last-child {
              margin: 0;
            }

            span {
              @include fontc(18px, 32px, $f9);
            }

            p {
              @include fontc(16px, 20px, $f6);

              i {
                margin-left: 6px;
              }
            }
          }
        }
        &:hover {
          @include shadow();

          .add_title {
            @include gradient();
            @include fontc(16px, 1, $fc);
          }

          .add_content {
            border: solid 2px $ff5;
          }
        }

      }

      .active {
        .add_title {
          @include gradient();
          @include fontc(16px, 1, $fc);
        }

        .add_content {
          border: solid 2px $ff5;
        }
      }

    }
  }

  .ps_add2 {
    padding-bottom: 0;
  }

  .ps_plan {
    width: 1360px;

    .el-form-item {
      margin-bottom: 22px !important;
    }
  }

  .letter_info {
    width: 600px;
    margin-top: -64px;
    padding: 30px 0 10px 0;
    margin-bottom: 20px;

    .el-form-item {
      display: flex;

      .el-form-item__label {
        display: inline-block;
        width: 114px;
      }

      .el-form-item__content {
        flex: 1;
      }
    }
  }

  .letter_content {
    padding-top: 30px;
    border-top: 1px solid $fdc;
  }

  .letter_form {
    padding-bottom: 0 !important;
  }

  .ps_footer {
    padding-top: 0;
    border: none;
  }
}

.contract_box {
  margin-top: 40px;
  .contract_title {
    padding: 0 26px;
    @include wh(100%, 74px);
    @include gradient();
    @include cb();
    justify-content: space-between;

    .contract_info {
      flex: 1;
      @include fontc(16px, 1, $fe);

      span:nth-child(1) {
        margin-right: 20px;
      }
      span:nth-child(2) {
        min-width: 270px;
        display: inline-block;
      }
    }

    .contract_add {
      @include cb();
      span {
        &:nth-child(1) {
          @include fontc(16px, 1, $fe);
          font-size: 16px;
          line-height: 32px;
          color: #fefefe;
          margin-right: 20px;
        }

        &:nth-child(2) {
          display: inline-block;
          cursor: pointer;
          border: solid 2px #ffffff;
          background: rgba(255, 255, 255, .1);
          @include wh(140px, 40px);
          @include borderRadius(20px);
          @include fontc(16px,1,$fc);
          @include cr();
        }
      }
      .noPs{
        border: solid 2px rgba(255, 255, 255, .1)!important;
        color: rgba(255, 255, 255, .5)!important;
      }
    }
  }
}
.ps_table {
  padding: 0!important;
  min-height: 100px!important;
  .el-table {
    border-top: 1px solid rgba(255, 255, 255, 0.3)!important;
  }
}
.detail_table{
  table{
    width: 100%;
    border: none;
    tr{
      height: 37px;
      &:nth-child(odd){
        background: $fd;
      }
      td{
        &:nth-child(1){
          width: 140px;
          text-align: right;
          padding-right: 8px;
        }
        &:nth-child(2){
          width: 270px;
          padding-left: 8px;
        }
        &:nth-child(3){
          width: 164px;
          text-align: right;
          padding-right: 8px;
        }
        &:nth-child(4){
          padding-left: 8px;
        }
      }
    }
    .reviewBtn{
      display: inline-block;
      @include wh(70px,20px);
      @include borderRadius(10px);
      @include fontc(14px,20px,$ff4);
      text-align: center;
      border: 1px solid $ff4;
      opacity: 0.7;
    }
    .detail_update{
      text-align: left!important;
      padding-left: 72px;
    }
    .update_text{
      @include fontc(10px,1,$f9);
    }
  }
}
.noData{
  @include fontc(16px, 50px, $f6);
  margin-top: 50px;
}
.footer_tip{
  margin-top: 30px;
}
.ps_edit_footer{
  margin-top: -60px;
}
