@import "./base";
.isApply{
    max-height: 100vh;
    overflow: scroll;
}
#rfactor{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(45deg,$fb1,$fde);
    overflow: auto;
    .rfactor_left{
        width: 280px;
        border-right: 1px solid $fce;
        .rnav{
            .rnav_img{
                @include cr();
                height: 102px;
                img{
                    @include wh(210px,50px);
                }
            }
            .rnav_box{
                li{
                    display: flex;
                    padding: 18px 0;
                    align-items: center;
                    cursor: pointer;
                    .rnav_navbox{
                        width: 93px;
                        display: flex;
                        justify-content: flex-end;
                        .rnav_nav{
                            width: 22px;
                            @include cc();
                            position: relative;
                            // img{
                                // border-right: 20px solid transparent;
                                // -webkit-filter: drop-shadow(#0033FF 20px 0);
                                // filter: drop-shadow(#0033FF 20px 0)
                            // }
                        }
                    }
                    .rnav_tex{
                        padding-left: 10px;
                        @include fontc(16px,1,$f36);
                    }
                    // &:hover{
                    //     .rnav_tex{
                    //          color: $f64;
                    //     }
                    // }
                }
            }
        }
        .active{
            background-color: $fc8;
            .rnav_tex{
                color: $f64!important;
            }
        }
    }
    .rfactor_right{
        flex: 1;
        padding: 16px 19px 55px 16px;
        .rHeader{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            .rHeader_left{
                display: flex;
                justify-items: center;
                align-items: center;
                img{
                    @include wh(61px,61px);
                    margin: 0 14px 0 20px;
                    border-radius: 50%;
                    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.31);
                }
                .rHeader_text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .text_item{
                        display: flex;
                        height: 24px;
                        @include fontc(14px,24px,$f1d);
                        p{
                            
                            span{
                                margin-right: 8px;
                            }
                            i{
                                margin-left: 4px;
                            }
                        }
                        &:nth-child(1){
                            p{
                                margin-right: 12px;

                            }
                        }
                        &:nth-child(2){
                            p{
                                margin-right: 6px;

                            }
                        }
                       
                    }
                }
            }
            .rHeader_right{
                width: 100px;
                height: 30px;
                cursor: pointer;
                border-radius: 15px;
                border: solid 1px $f1d;
                @include cr();
                @include fontc(14px,1,$f1d);
                i{
                    @include wh(14px,16px);
                    border-radius: 50%;
                    margin-right: 6px;
                    @include bg("/images/refactor/layout.png");
                }
            }
        }
    }
}
.refactor_table{
    margin-top: 30px;
    position: relative;
    // &:after{
    //     content: '';
    //     display: inline-block;
    //     @include wh(100%,56px);
    //     background-color: $f77;
    //     position: absolute;
    // }
    .el-table{
        min-width: 1500px;
        th{
            background-color: $fe3;
            @include fontc(16px,16px,$fc);
            font-weight: normal;
            text-align: center;
            border-right: 1px solid $fea;
            &:last-child{
                border: none;
            }
        }
        td{
            text-align: center;
            @include fontc(16px,16px,$f6);
        }
        .el-checkbox__inner{
            @include wh(18px,18px);
            &:after{
                height: 10px;
                left: 6px;
            }
        }
        .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
            background-color:$f15;
            border-color: $f15;
        }
      
        .cell{
            @include cc();
            padding: 4px 0;
            a{
                @include fontc(14px,18px,$f15);
            }
            .free{
                color: $f64;
            }
        }
    }
}
.table_btn{
    @include fontc(14px,14px,$fc);
    @include cr();
    padding: 5px 14px;
    border-radius: 13px;
    color: $fc!important;
    background-color: $f15!important;
}
.add_note{
    .el-dialog__header{
        display: none;
    }
    .el-dialog__body{
        padding: 0;
    }
    .add_title{
        padding: 20px 0;
        @include fontc(22px,22px,$fc);
        @include cr();
        @include bg("/images/refactor/add_title.png");
    }
    .add_con{
        padding: 38px 78px 58px;
        .el-form-item{
            display: flex;
            flex-direction: column;
        }
        .el-form-item__label{
            text-align: left;
        }
        input{
            width: 100%;
        }
        .el-input{
            width: 100%!important;
        }
        textarea{
            resize: none;
            height: 170px;
        }
      
    }
}
.upload_lang{
    input{
        height: 44px!important;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        padding-right: 90px;
    }
    position: relative;
    .unload_tip{
        position: absolute;
        right: 14px;
        top: -27px;
        @include fontc(14px,14px,$f64);
    }
    .unload_btn{
        @include wh(70px,30px);
        @include fontc(16px,16px,$fc);
        @include cr();
        background-color: $f15;
        border-radius: 5px;
        position: absolute;
        top: 8px;
        right: 14px;
        cursor: pointer;
    }
}
.lang_page{
    margin-top: 100px;
    text-align: center;
    .el-pagination__total{
        font-size: 14px;
    }
    .btn-prev{
        background-color: $f77!important;
        &:hover{
            color:$f15!important;
        }
    }
    .btn-next{
        background-color: $f77!important;
        &:hover{
            color:$f15!important;
        }
    }
    .el-pager{
        background-color: $f77!important;
        &:hover{
            color:$f15!important;
        }
    }
    .active{
        color:$f15!important;
    }
    .number{
        &:hover{
            color:$f15!important;
        }
    }
}
.el-upload{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff!important;
   }
   .modify .note_item{
       height: auto;
   }
   .ps_con .add_footer{
    padding-top: 40px;
   }
   .letter_footer{
    span{
        width: 200px!important;
       
    }
   } 
   .letter_active{
    background-color: $f15;
   }
   .add_footer{
       margin-top: 30px;
    @include cr();
    span{
        display: inline-block;
        border-radius: 24px;
        cursor: pointer;
        @include wh(133px,48px);
        @include cr();
        &:nth-child(1){
            border: solid 1px $f15;
            @include fontc(16px,16px,$f15);
        }
        &:nth-child(2){
            margin-left: 20px;
            background-color: $f15;
            @include fontc(16px,16px,$fc);
        }
    }
}
.content{
    position: relative;
    span{
        position: absolute;
        right: 15px;
        bottom: 0;
    }
}
.cell{
    @include cr();
}
.writ_nav{
    padding: 20px 100px;
    display: flex;
    span{
        @include wh(144px,50px);
        box-shadow: 3px 4px 3px 0px $fnav;
        border-radius: 10px;
        border: solid 1px $f15;
        @include fontc(14px,14px,$f15);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 11px;
    }
    .active{
        background-color: $f15;
        color: $fc;
    }
}