@import "./base";
.visa_table{
    position: relative;
    margin-top: 56px;
    .visa_table_box{
        position: relative;
        width: 100%;
        // margin-bottom: 56px;
        // &:before{
        //     content: '';
        //     display: inline-block;
        //     width: 100%;
        //     height: 56px;
        //     bottom: -56px;
        //     background-color: #f7f7f7;
        //     position: absolute;
        // }
    }

    .el-table{
        position: relative;

        .cell{
            a{
                @include fontc(12px,12px,$f15);
            }
        }
        th{
            text-align: center;
            background-color: $f64;
            @include fontc(14px,14px,$fc);
            border-right: 1px solid $fea;
            &:last-child{
                border-right: none;
            }
        }
        td{
            text-align: center;
        }
    }
    .sign_title{
        position: absolute;
        top: -30px;
        left: 20px;
        z-index: 2;
        @include wh(59px,74px);
        @include cr();
        @include fontc(16px,20px,$fc);
        @include bg("/images/refactor/sign_bg.png")
    }
    .visa_item{
        display: flex;
        align-items: center;
        .visa_left{
            flex: 2;
            text-align: center
        }
        .visa_center{
            display: flex;
            span{
                flex: 1;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 22px;
                padding: 14px 4px;
                a{
                    @include fontc(14px,18px,$f15);
                }
                &:nth-child(1){
                    flex: 1.5
                }
                &:nth-child(2){
                    flex: 1.2
                }
              i{
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                border-radius: 17px;
                font-size: 14px;
              }
            }
          .green{
            i{
              background-color: $d8f;
              @include fontc(14px,1,$f0c);
            }
          }
          .blue{
            i{
              background-color: $dbe;
              @include fontc(14px,1,$dff);
            }
          }
          .red{
            i{
              @include gradient();
              @include fontc(14px,1,$fc);
            }
          }
          .onload{
            i{
              display: inline-block;
              width: 30px!important;
              height: 30px!important;
              border-radius: 50%;
              background-color: transparent!important;
              cursor: pointer;
              margin-right: 4px;
              background: url('/images/material/clicon.png') -140px -18px no-repeat;
            }
          }

        }
        .visa_con{
            flex: 6;
        }
        .visa_right{
            flex: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            //span{
            //    @include wh(65px,25px);
            //    @include fontc(14px,14px,$fc);
            //    display: inline-block;
            //    padding: 6px 18px;
            //    background-color: $f15;
            //    border-radius: 13px;
            //    cursor: pointer;
            //}
        }
      .materia_right{
        flex: 2;
        display: flex;
        justify-content: center;
        .meteria_add{
          width: 70px;
          height: 30px;
          font-size: 14px;
          cursor: pointer;
          background-color: #015d9e;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          line-height: 1;
          font-family: helvetica,Microsoft YaHei;
          word-break: break-word;
          border-radius: 20px;
        }
      }
    }
    .visa_top{
        background-color: $fe3;
        @include fontc(16px,44px,$fc);
        .visa_left{
            border-right: 1px solid $fea;
        }
        .visa_center{
            span{
                border-right: 1px solid $fea;
            }

        }
    }
}
.showList{
  @include fontc(14px,18px,$f15);
  cursor: pointer;
}
.visa_box{
    margin-top: 60px;
    border: 1px solid $fd9;
}
.visa_con{

    .visa_item{
       @include fontc(16px,52px,$f6);
       border-bottom: 1px solid $fd9;
       &:nth-child(odd){
        background-color: $fc;
       }
       &:nth-child(even){
        background-color: $f77;
       }
       &:last-child{
        border-bottom: none;
       }
    }
    .active{
        border-right: 1px solid $fd9;
        border-left: 1px solid $fd9;
        .visa_center{
            border-bottom: 1px solid $fd9;
            &:last-child{
                border-bottom: none;
            }
        }

    }
}
.visa_btn{
  width: 70px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  background-color: #015d9e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 1;
  font-family: helvetica,Microsoft YaHei;
  word-break: break-word;
  border-radius: 20px;
}
.materia_table{
  padding: 0px 97px;
  width: 100%;
  margin: 0 auto;
}
.material_view{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  //.show{
  //  display: inline-block;
  //  width: 30px!important;
  //  height: 30px!important;
  //  border-radius: 50%;
  //  background-color: transparent!important;
  //  cursor: pointer;
  //  margin-right: 4px;
  //  &:nth-child(1){
  //    background: url('/images/material/clicon.png') -19px -18px no-repeat;
  //  }
  //  &:nth-child(2){
  //    background: url('/images/material/clicon.png') -140px -18px no-repeat;
  //  }
  //}
  .modify_button{
    width: 70px;
    height: 30px;
    font-size: 14px;
  }
}
